{% extends "generic_header.html" %}
{% block main %}
{% load static %}
		  <!-- MAIN CONTENT --> 
		  <main class="mdl-layout__content">
		    <div class="page-content">
		    	<br> <!-- break --> 

			<script type='text/javascript'>
				function downloadLink(Link) {
					var link = document.getElementById('test'); 
					link.setAttribute('href', "{{File_URL}}");
					link.disabled = true;
				}

				function cloakLink() {
					var link = document.getElementById('test'); 
					setTimeout(function () {
						link.setAttribute('href', '#');
						link.setAttribute('disabled', true); 
					}, 10); 
				}			
			</script>
		    	<!-- TABS --> 
		    	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

				  	<br>
			    	<!-- TABS 2: Newsfeed --> 
			    	<div class="mdl-tabs__panel is-active" id="add_product">
					     <!-- Card 2: Newsfeed --> 
			    		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			    			<a style="color:blue; margin-left:1vw;" href="/marketplace">Back to Marketplace</a>
							  <div class="mdl-card__title" id="newsfeed-card">
							    <h2 class="mdl-card__title-text" id="newsfeed-title">
							    Download Product
							    </h2>
							  </div>
							  <hr id="newsfeed-divider">
							  <div class="mdl-card__supporting-text">
							  <h4>You have purchased <b>{{Product_Title}}</b></h4>
							  <!-- <br><br> -->
					     	<form method="POST" name="Download_Form">{% csrf_token %}
							  {% if Purchased %}
							  	Use the <b><i>ONE-TIME download link</b></i> below to receive your product:
							  	<br><br>
								 <a href="#" download id='test' onclick='downloadLink(); cloakLink(); document.Download_Form.submit();'>Download Product: <b>{{Product_Title}}</b></a>
								 <br>
								 <input hidden name="Downloaded" value="Yes">
								 <a href="#"  id='test' onclick='document.Download_Form.submit();'> 
								 <!-- Test Form Submit -->
								 </a>
							 {% else %}
								 <!-- {{File_URL}} -->
							 	Thank you for your purchase!
							 {% endif %}
					  		</form>
							 <br>
					  	</div>
					  	</div>
					 </div>

					  <!-- TAB 3: Courses in Progress --> 
					<div class="mdl-tabs__panel" id="courses-in-progress-panel">
				    </div>
			    	<!-- END TAB 3 --> 

		    	</div> 
		    	<!-- END TABS --> 

		    </div>
		  </main>
		</div>
 
	{% endblock main %}
 </body>
</html>
<!-- <link rel="stylesheet" type="text/css" href='{% static 'Tests/test_download_style.css' %}'> -->


{% block style %}
<style>

	body {
		font-family: 'Helvetica', sans-serif;
	}
	a[disabled], a[disabled]:hover {
	   pointer-events: none;
	   color: rgba(0, 0, 0, 0.2);
	   text-decoration: none;
	}

	body, h1, h2, h3, h4, h5, h6, a, p, span, .mdl-button{
		font-family: "Open Sans", sans-serif;
	}

	#page-title-link {
		text-decoration: none; 
		color: white; 
	}

	.mdl-layout__drawer-button .material-icons {
		margin-top: 25%;
	}

	.mdl-tabs__tab-bar {
		border-bottom: none; 
	}

	.demo-card-wide.mdl-card {
  	width: 85%;
  	margin: 0 auto;
	}

	.demo-card-wide > #notifications-card {
	  color: #fff;
	  height: 300px;
	  background: url('homepage_notifications_bg.jpg') center / cover;
	  padding: 0;
	}

	.demo-card-wide > #notifications-card > .mdl-card__title-text {
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		padding: 10px;
	}

	.demo-card-wide > .mdl-card__menu {
	  color: #fff;
	}

	.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
		background-color: transparent;
		color: rgb(255,171,64); /* orange */ 
	}

	.mdl-list__item--three-line {
		height: auto;
	}

	.mdl-list__item--three-line .mdl-list__item-primary-content {
		height: auto;
	}

	.mdl-layout__title, .mdl-layout-title {
		font-family: "Open Sans", sans-serif;
	}

	.video-icon {
		height: 100px; 
		width: 200px;
	  padding: 0;
	  float: left;
	  margin-right: 20px;
	}

	#courses-in-progress-title, #newsfeed-title {
		color: rgb(63, 81, 181); /* indigo */ 
	}

	#courses_in_progress_divider, #newsfeed-divider {
		margin: 0;
	}

	.active {
		border-bottom: 1px solid white;
		padding-bottom: 5px !important;
	}
</style>
	{% endblock style %}
