{% extends "header.html" %}
{% block main %}
{% load static %}
  <!-- MAIN CONTENT --> 
  	<main class="mdl-layout__content">
	    <div class="page-content">

			<script type='text/javascript'>
				function downloadLink(Link) {
					var link = document.getElementById('test'); 
					link.setAttribute('href', "{{File_URL}}");
					link.disabled = true;
				}

				function cloakLink() {
					var link = document.getElementById('test'); 
					setTimeout(function () {
						link.setAttribute('href', '#');
						link.setAttribute('disabled', true); 
					}, 10); 
				}			
			</script>

			<div class="demo-card-wide mdl-card mdl-shadow--2dp">
				<!-- Arrow back to Marketplace --> 
		    	<a href="/marketplace" id='marketplace-back'><i class="material-icons">arrow_back</i>
		    		<span id='marketplace-back-title'>Marketplace</span>
		    	</a>

			  	<div class="mdl-card__title" id="newsfeed-card">
			    	<h2 class="mdl-card__title-text" id="newsfeed-title">
			    		Download Product
			    	</h2>
			  	</div>

			  	<hr id="newsfeed-divider">

			  	<div class="mdl-card__supporting-text">
				  	<h4>You have purchased <b>{{Product_Title}}</b></h4>
				  	Use the link below to receive your download:
				  	<br>
				  	<br>

				 	<a href="#" download id='test' onclick='downloadLink(); cloakLink()'> 
				 	Download Product: <b>{{Product_Title}}</b></a>
				 	<br>
		  		</div>
		  	</div>

	    </div>
  	</main>
 
	{% endblock main %}
</body>
</html>
<!-- <link rel="stylesheet" type="text/css" href='{% static 'Tests/test_download_style.css' %}'> -->

{% block style %}
<style>

	#marketplace-back {
		color: rgb(255,171,64);
		text-decoration: none;
		margin-top: 8px;
		margin-left: 12px;
		font-size: 12px;
		display: block;
	}

	#marketplace-back > i.material-icons {
		font-size: 14px;
		line-height: 30px;
		height: 30px;
		font-weight: bold;
		padding: 0; 
		padding-right: 2px;
	}

	a[disabled], a[disabled]:hover {
	   pointer-events: none;
	   color: rgba(0, 0, 0, 0.2);
	   text-decoration: none;
	}

	body, h1, h2, h3, h4, h5, h6, a, p, span, .mdl-button{
		font-family: "Open Sans", sans-serif;
	}

	#page-title-link {
		text-decoration: none; 
		color: white; 
	}

	.mdl-layout__drawer-button .material-icons {
		margin-top: 25%;
	}

	.mdl-tabs__tab-bar {
		border-bottom: none; 
	}

	.mdl-card__supporting-text {
		width: 100%;
	}

	.demo-card-wide.mdl-card {
  		width: 85%;
  		margin: 0 auto;
  		background-color: rgba(0, 0, 0, 0.025);
	}


	.mdl-layout__title, .mdl-layout-title {
		font-family: "Open Sans", sans-serif;
	}

	#courses-in-progress-title, #newsfeed-title {
		color: rgb(63, 81, 181); /* indigo */ 
		font-size: 32px;
	}

	#courses_in_progress_divider, #newsfeed-divider {
		margin: 0;
	}

	.active {
		border-bottom: 1px solid white;
		padding-bottom: 5px !important;
	}
</style>
	{% endblock style %}
