{% extends "header.html" %}
{% block main %}

{% load static %}
		  <main class="mdl-layout__content">
		    <div class="page-content">

          <div id='product-page-header'>
            <h4 id='product-page-title'>Welcome to the Marketplace!</h4>
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                  <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" id="sample6">
                  <label class="mdl-textfield__label" for="sample-expandable"></label>
                </div>
              </div>
            </form>
          </div>

          {% for Product in Product_Displays %}
          <div class="demo-card-square mdl-card mdl-shadow--2dp product-card">
            <div class="mdl-card__title mdl-card--expand">
            {% with Product.Thumbnail_URL as Static_URL %}
              <img src='{% static Static_URL %}' class = "product-thumbnail">
            {% endwith %}
            </div>
            <div class="mdl-card__supporting-text">
              <h2 class="mdl-card__title-text product-thumbnail-title">{{Product.Product_Title}}</h2>

              <!-- COMMENT in production --> 
              <p>This is demo text to help visualize how formatting should be.</p>
              
              <!-- UNCOMMENT in production --> 
              <!--  <p>{{Product.Description}}</p> -->

              <!-- Conditionally render product type -->
              {% if Product.Product_Type == 'E_Book' %}
                <p class='product-type product-type-ebook'>{{Product.Product_Type}}</p>
              {% elif Product.Product_Type == 'Video' %}
                <p class='product-type product-type-video'>{{Product.Product_Type}}</p>
              {% endif %}

              <!-- COMMENT in production --> 
              <p>Created by </p>
              
              <!-- UNCOMMENT in production --> 
              {% if Product.Product_Owner %}
                <p>Created by <span>{{Product.Product_Owner}}</span></p>
              {% endif %}

            </div>
            <form style="margin-bottom:0px;" method="GET">
            <div class="mdl-card__actions mdl-card--border">
              <input hidden name="Product_PK" value="{{Product.Product_PK}}">
              <span class='product-price'>${{Product.Product_Price}}0</span>
              <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect product-view-product" 
              value="View Product" name="View_Product">
            </div>
            </form>
          </div>
          {% endfor %}
				  
		    </div>
		  </main>
		</div>
 {% endblock main %}

{% block style %}
<style>

    body, h1, h2, h3, h4, h5, h6, a, p, span, .mdl-button{
      font-family: "Open Sans", sans-serif;
    }

    #page-title-link {
      text-decoration: none; 
      color: white; 
    }

    #product-page-header {
      width: 96%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    #product-page-title {
      margin-top: 16px;
    }

    .mdl-layout__title, .mdl-layout-title, .mdl-textfield__input {
      font-family: "Open Sans", sans-serif;
    }

    .mdl-card--expand {
      flex-grow: 0;
    }

    .mdl-layout__drawer-button .material-icons {
        margin-top: 25%;
    }

    .mdl-card__supporting-text {
      padding-top: 0;
      padding-bottom: 0; 
      margin: 0 auto;
      width: 85%;
      flex-grow: 1; 
      word-break: break-all;
    }

    .mdl-card__actions {
      position: relative;
    }

    .page-content {
      width: 96%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin-top: 2%;
      flex-wrap: wrap;
    }

    .product-card {
      width: 275px;  
      margin: 1%;
      margin-bottom: 4%;
      font-size: 1vw;
      background-color: rgba(0,0,0,0.025);
    }

    .product-thumbnail {
      width: 230px;
      height: 300px; 
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.1vw;
      object-fit: contain;
      margin: 0 auto;
    }

    .product-thumbnail-title {
      font-size: 20px;
      color: black;
      padding-bottom: 16px;
    }

    .product-type {
      display: inline-block; /* set width to equal content */ 
      color: white;
      padding: 5px 10px; 
      border-radius: 2px;
    }

    .product-type-video {
      background-color: rgba(0, 88, 255, 0.7); /* blue */
    }

    .product-type-ebook {
      background-color: rgba(38, 199, 0, 0.7); /* green */
    }

    .mdl-card__actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 53px;
      line-height: 37px;
      flex-grow: 1;
    }

    .product-price {
      margin-left: 16px;
    }

    .product-view-product {
    }

    #search-input {
      width: 100%; 
    }

    .active {
      text-decoration: underline; 
      text-underline-position: under;
      color: white;
      border-bottom: 1px solid white;
      padding-bottom: 5px !important;
    }

</style>
{% endblock style %}
