{% extends "generic_header.html" %}
{% block main %}
{% load static %}
<!-- Set up Stripe --> 
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_XXOQiKnnXqjJlJG5euwKirzj');
    var elements = stripe.elements();
</script>

  <!-- MAIN CONTENT --> 
  <main class="mdl-layout__content">
    <div class="page-content">

	    <div class="demo-card-wide mdl-card mdl-shadow--2dp">

	    	<!-- Arrow back to Marketplace --> 
	    	<a href="/marketplace" id='marketplace-back' style="color:blue;"><i class="material-icons">arrow_back</i>
	    		<span id='marketplace-back-title'>Marketplace</span>
	    	</a>

			  <div class="mdl-card__title" id="newsfeed-card">
			    <h2 class="mdl-card__title-text" id="newsfeed-title">Product Details</h2>
			  </div>

			  <hr id="newsfeed-divider">
			  <div class="mdl-card__supporting-text">

				  <form method="GET">

				  	<div id='product-details-container'>
					  	<div id='product-details-left' style="text-align:center;">

							{{Thumbnail_URL}}
							  <h3 id='product-title'>{{Product_Title}}
							  <br>
							  <!-- <b>(E-Book)</b> -->
							  </h3>
							  {% if Has_Thumbnail %}
							  	<img src='{{Thumbnail_URL}}' class='thumbnail-image'>
							  {% else %}
							  	<img src='/static/{{Warm_Up_Thumbnail}}' class='thumbnail-image' style="max-height:300px; width:auto; margin-bottom:10px;">
							  	<!-- <br> -->
							  	<!-- <img src='{% static 'Home/video_placeholder.jpg' %}' class='thumbnail-image'> -->
							  {% endif %}
				 
				 				<div id='product-content' style="text-align:left;">
				 					<div class='padded-content'>

				 						<p><b>Created By:</b>
				 						<a href="/instructor-profile-preview" style="margin-left:0.5vw; color:blue; font-weight:bold;"> Alloy Strength</a>
				 						<a>{{Owner}}</a></p>
				 						<b>Description:</b>
							 			<p>There are many ways to prepare, or “warm-up”, prior to a training session. It is important to warm-up in order to decrease the risk of injury and increase performance.</p> 
							 			<p>A warm-up must serve three main purposes: 1) Increase core body temperature 2) Increase heart rate 3) Prime the various systems of the body for the specific training session.</p> 
							 			<p>Alloy Strength’s <i>Warm Up Series</i> is a quick and simple movement sequence to prepare you for nearly any type of resistance training.</p>
				        		<hr>
		              
		              	<!-- UNCOMMENT in production --> 
		              	<!--  <p>{{Product.Description}}</p> -->

		              	<!-- <p>Product File: {{File_URL}}</p> -->
								   
				            <p><b style="margin-right:1vw;">Product Type:</b> 
				            	{% if Type == 'Video' %}
				            	<span class='product-type product-type-video'>
				            	Video Product
				            	{% elif Type == 'E_Book' %}
				            	<span class='product-type product-type-ebook'>
				            	E-Book
				            	{% endif %}
				            	</span>

				            </p>
				            
				            <p><b>Price:</b> ${{Price}}0 USD</p>
				          </div>
			          </div>

						  </div>

				      <div id='product-details-right'>
				      	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

				      		{% if Type == 'Video' %}
								  	<div class="mdl-tabs__tab-bar video">
								  {% elif Type == 'E_Book' %} 
								  	<div class="mdl-tabs__tab-bar ebook">
								  {% endif %}
								      <a href="#excerpts-panel" class="mdl-tabs__tab is-active">
								      	<span>Samples</span>
								      	<i class="material-icons">remove_red_eye</i></a>
								      <a href="#reviews-panel" class="mdl-tabs__tab">
								      	<span>Reviews</span>
								      	<i class="material-icons">star</i></a>
								  	</div>

								  <div class="mdl-tabs__panel is-active" id="excerpts-panel">
								    <div class='padded-content'>
								    	<p>Coming Soon! </p>
								    </div>
								  </div>

								  <div class="mdl-tabs__panel" id="reviews-panel">
								    <div class='padded-content'>
								    	<p>Coming Soon! </p>
								    </div>
								  </div>

								</div>

				      </div>

				    </div> <!-- end product-details-container --> 

				    <div id='payment-container'>
			        <h3 id='purchase-product-title'> Purchase Product</h3>
				    	<div class='padded-content'>
				        <form method="POST" id="payment-form">{% csrf_token %}
					        <div class="form-row">
			        			Fill out the information below to purchase <b><i>{{Product_Title}}</b></i>
			        			<br><br>
					            <label for="card-element">
					              Email Address
					            </label>
					            <br>
					        	<input type="email" name="Payment_Email" placeholder="Enter Email Address">
					        	<br><br>
					            <label for="card-element">
					              Credit or Debit Card
					            </label>
					            <br>
					            <div id="card-element">
					              <!-- a Stripe Element will be inserted here. -->
					            </div>

					            <!-- Used to display Element errors -->
					            <div id="card-errors" role="alert"></div>
					        </div>
				          <!-- <input type="submit" name="Buy_Product" value="Buy Product"> -->
				          <br>
					        {{Payment_Status}}
				        </form>

				        <hr>
					<script>
					    function confirmation() {
					    	return confirm("Confirm your purchase of " + {{Product_Title}});
					    }
					</script>
				        <form method="POST" style='margin-bottom: 0;'>{% csrf_token %}
				            <input type="submit" name="Buy_Product" value="Confirm Purchase" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" 
				            onclick="if(!confirm('Confirm your purchase of {{Product_Title}}')) {
				            		event.preventDefault();
				            	}">
				            <!-- <input type="submit" name="Buy_Product" value="Buy Product"> -->
				        </form>
				      </div>

			      </div>
			 
					</form>
			  </div>
    </div>
  </main>
</div>

		<script>

		    var style = {
		      base: {
		        // Add your base input styles here. For example:
		        fontSize: '16px',
		        lineHeight: '24px',
		        fontFamily: 'Open Sans, sans-serif'
		      }
		    };

		    // Create an instance of the card Element
		    var card = elements.create('card', {style: style});

		    // Add an instance of the card Element into the `card-element` <div>
		    card.mount('#card-element');

		    card.addEventListener('change', function(event) {
		      var displayError = document.getElementById('card-errors');
		      if (event.error) {
		        displayError.textContent = event.error.message;
		      } else {
		        displayError.textContent = '';
		      }
		    });

		    var form = document.getElementById('payment-form');
		    form.addEventListener('submit', function(event) {
		      event.preventDefault();

		      stripe.createToken(card).then(function(result) {
		        if (result.error) {
		          // Inform the user if there was an error
		          var errorElement = document.getElementById('card-errors');
		          errorElement.textContent = result.error.message;
		        } else {
		          // Send the token to your server
		          stripeTokenHandler(result.token);
		        }
		      });
		    });

		    function stripeTokenHandler(token) {
		      // Insert the token ID into the form so it gets submitted to the server
		      var form = document.getElementById('payment-form');
		      var hiddenInput = document.createElement('input');
		      hiddenInput.setAttribute('type', 'hidden');
		      hiddenInput.setAttribute('name', 'stripeToken');
		      hiddenInput.setAttribute('value', token.id);
		      form.appendChild(hiddenInput);

		      // Submit the form
		      form.submit();
		    }
		</script>
 
	{% endblock main %}

 </body>
</html>

{% block style %}

<style>

	body, h1, h2, h3, h4, h5, h6, a, p, span, .mdl-button{
		font-family: "Open Sans", sans-serif;
	}

	#marketplace-back {
		color: rgb(255,171,64);
		text-decoration: none;
		margin-top: 8px;
		margin-left: 12px;
		font-size: 12px;
		display: block;
	}

	#marketplace-back > i.material-icons {
		font-size: 14px;
		line-height: 30px;
		height: 30px;
		font-weight: bold;
		padding: 0; 
		padding-right: 2px;
	}

	#page-title-link {
		text-decoration: none; 
		color: white; 
	}

	.mdl-layout__drawer-button .material-icons {
		margin-top: 25%;
	}

	.demo-card-wide.mdl-card {
  	width: 85%;
  	margin: 0 auto;
  	background-color: rgba(0,0,0,0.025);
	}

	.demo-card-wide > .mdl-card__menu {
	  color: #fff;
	}

	.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
		background-color: transparent;
		color: rgb(255,171,64); /* orange */ 
	}

	.mdl-list__item--three-line {
		height: auto;
	}

	.mdl-list__item--three-line .mdl-list__item-primary-content {
		height: auto;
	}

	.mdl-layout__title, .mdl-layout-title {
		font-family: "Open Sans", sans-serif;
	}

	#product-title {
		color: black;
		margin-top: 12px;
		font-size: 24px;
	}

	#courses-in-progress-title, #newsfeed-title {
		color: rgb(63, 81, 181); /* indigo */ 
		font-size: 32px;
	}

	#courses_in_progress_divider, #newsfeed-divider {
		margin: 0;
	}

	.mdl-card__supporting-text {
		width: 97%;
		margin: 0 auto;
		/* background-color: rgba(0, 0, 0, 0.05); */ 
	}

	#product-details-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
	}

	#product-details-left {
		width: 50%;
		padding: 0; 
		margin: 0; 
		margin-bottom: 24px;
		/* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */ 
	}

	.thumbnail-image {
	  padding: 0;
	  width: 100%;
	}

	#product-content {
		width: 100%;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); 
		background-color: rgb(251, 251, 251);   
		border-radius: 4px;
	}

	.padded-content {
		padding: 16px;
	}

  .product-type {
    display: inline-block; /* set width to equal content */ 
    color: white;
    padding: 5px 10px; 
    border-radius: 2px;
  }

  .product-type-video {
    background-color: rgba(0, 88, 255, 0.7); /* blue */
  }

  .product-type-ebook {
    background-color: rgba(38, 199, 0, 0.7); /* green */
  }

	#product-details-right {
		width: 40%; 
		margin: 0; 
		padding: 0; 
		background-color: rgb(251, 251, 251);
		border-radius: 4px;
		margin-bottom: 24px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	}

	.mdl-tabs__tab-bar {
		border-bottom: none; 
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.mdl-tabs__tab-bar.video {
		background-color: rgba(0, 88, 255, 0.7); /* blue */ 
	}

	.mdl-tabs__tab-bar.ebook {
		background-color: rgba(38, 199, 0, 0.7); /* green */ 
	}

	.mdl-tabs__tab {
		font-size: 18px;
	}

	.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
		color: white;
	}

	.mdl-tabs__tab > i.material-icons {
		font-size: 18px;
		margin-left: 4px;
	}

	#payment-container {
		width: 90%;
		margin: 0 auto;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		background-color: rgb(251, 251, 251);
		border-radius: 4px;
	}

	#card-element {
		padding-left: 1vw; 
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}

	#purchase-product-title {
		background-color: rgb(78, 99, 230); /* light indigo */ 
		color: white;
		padding: 8px;
		font-size: 20px;
		height: 30px;
		line-height: 30px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.active {
		border-bottom: 1px solid white;
		padding-bottom: 5px !important;
	}


</style>
	{% endblock style %}
